.glitched-image {
  position: relative;
  display: block;
}

.glitched-image--debug {
  outline: 1px dashed rgba(0, 0, 0, 0.45);
  outline-offset: -1px;
}

.glitched-image--debugSolid .glitched-image__canvas-wrap {
  background: rgba(0, 255, 255, 0.25);
}

.glitched-image--fill {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.glitched-image__canvas-wrap {
  position: absolute;
  inset: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.glitched-image__canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.glitched-image__sr-img {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
