.homeExperience {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.homeExperience__sequence {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.homeExperience__horizontalTrack {
  position: relative;
  display: flex;
  height: 100%;
  will-change: transform;
}

.homeExperience__panel {
  flex: 0 0 100vw;
  height: 100%;
  overflow: hidden;
}

.homeExperience--vertical .homeExperience__sequence {
  height: auto;
  overflow: visible;
}

.homeExperience--vertical .homeExperience__horizontalTrack {
  display: block;
  height: auto;
  transform: none;
  width: 100%;
  will-change: auto;
}

.homeExperience--vertical .homeExperience__panel {
  flex: 0 0 auto;
  height: auto;
  overflow: visible;
  width: 100%;
}
