.about {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.about__tunnel {
  position: absolute;
  inset: 0;
}

.about__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: red solid 2px;
}

.about__title {
  margin-bottom: 1rem;
}

.about__text {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
